*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

body{
    max-width: 100%;
    padding: 4% 6%;
    background-image: url(img/nubelson-fernandes--Xqckh_XVU4-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: luminosity;
    background-position: center;
    text-align: center;
    color: rgb(228, 208, 208);

    #description{
        display: block;
        margin: auto;
        white-space: nowrap;
        border-right: 4px solid;
        width: 61ch;
        animation: typing 4s steps(40), blink .5s infinite step-end alternate;
        overflow: hidden;
    }    /* 61 */
    @keyframes typing {
        from{width: 0;}
    }
    @keyframes blink {
        50%{border-color: transparent;}
    }



    form{
        border-radius: 0.8em;
        max-width: 600px;
        background:rgba(48, 38, 38, 0.671);
        text-align: start;   
        margin: 30px auto;
        padding: 4%;
    }

    .form-grup{
        display: flex;
        flex-direction: column;
        #name, #email, #number, .drop{
            display: block;
        }
    }
    
}

